@model MessageModel
<h1>Chatting with @Model.UserTo</h1>
<br />
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input asp-for="MessageSend" class="text-black-50" placeholder="Write message" id="txtMessage" />
                <input type="hidden" asp-for="UserTo" value="@Model.UserTo" id="txtUserTo"/>
                <input type="hidden" asp-for="UserFrom" value="@User.Identity.Name" id="txtUserName" />
            </div>
            <button type="submit" class="btn btn-primary" id="btnSend">Send!</button>
        </div>
        <div class="col-md-6" id="messageList">
            <ul>
                <li>@Html.Raw(@Model.MessageStore)</li>
            </ul>
            <ul id="messageList"></ul>
        </div>
    </div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/chat/chat.js"></script>






