@model MessageModel
@if(Model.UserFrom == User.Identity.Name)
{
<h1>Chatting with @Model.UserTo</h1>
<br />
}
else
{
<h2>Chatting with @Model.UserFrom</h2>
}
<br />
    <div id="messageBox">
        <style>
            #messageBox {
                float: left;
                width: 100%;
                height: 400px;
                overflow: auto;
            }
        </style>
        @if (@Model.MessageStore != "")
        {
            @Html.Raw(@Model.MessageStore)
        }
        <div id="messageList"></div>
    </div>
    <br />
    <br />
    <div id="form" style="clear: both">
        <br />
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="MessageSend" class="text-black-50" id="txtMessage" style="width:100%;height:55px; font-size:30px" />
                        @if (Model.UserTo != User.Identity.Name)
                        {
                            <input type="hidden" asp-for="UserTo" value="@Model.UserTo" id="txtUserTo" />
                            <input type="hidden" asp-for="UserFrom" value="@User.Identity.Name" id="txtUserName" />
                        }
                        else
                        {
                            <input type="hidden" asp-for="UserTo" value="@User.Identity.Name" id="txtUserName" />
                            <input type="hidden" asp-for="UserFrom" value="@Model.UserFrom" id="txtUserTo" />
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" style="height:55px; width:20%" id="btnSend">Send!</button>
                </div>
            </div>
        </form>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/chat/chat.js"></script>






